body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    align-items: justify;
}

.first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 95%;
}
span {
    color: #ffa500;
}

.btn-hire-me{ 
    background-image: linear-gradient(#e16b57, #e53b1d);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
}
.btn-hire-me a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* SECEND SECTION START */
.secend-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 150px;
}
.half-width-two{
    width: 50%;
}
.half-width-two img{
    width: 80%;
}
.btn-two{
    background-image: linear-gradient(#f1952b, #f1310f);
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
}
.btn-two a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* therd SECTION START */
.thrd-section-father{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width-three{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-developer{
    border-left: 8px solid tomato;
}
#wev-devloper{
    border-left: 8px solid navy;
}

/*footer START */

footer p{
    margin-top: 120px;
    text-align: center;
}
